%h3= locals[:pos]
%pre= locals[:vm].instruction_at(locals[:pos]).inspect rescue "!"
%pre= locals[:vm].instruction_at(locals[:pos]).to_ruby(locals[:vm]).inspect rescue "!"
%table.table.table-condensed.table-border
  %tr
    %th raw
    %th int32
    %th float32
  %tr
    %td= locals[:vm].instruction_arg_at_type(:int32,locals[:pos]).inspect
    %td= Gta3Vm::Vm::DataTypeMethods.arg_to_native( locals[:vm].instruction_arg_at_type(:int32,locals[:pos]) ).inspect
    %td= Gta3Vm::Vm::DataTypeMethods.arg_to_native( locals[:vm].instruction_arg_at_type(:float32,locals[:pos]) ).inspect
